// font sizes
$font-small-very: 1rem;
$font-small: 1.2rem;
$font-medium: 1.6rem;
$font-large: 2.2rem;
$font-large-very: 3.2rem;

// colors
$color-white: rgb(250, 250, 250);

$color-black: rgb(5, 5, 5);

$color-grey-dark: rgb(40, 40, 40);
$color-grey: rgb(128, 128, 128);
$color-grey-light: rgb(200, 200, 200);
$color-grey-light-very: rgb(240, 240, 240);

$color-shadow: rgba(0, 0, 0, 0.3);

$color-base-light-very: rgb(255, 170, 170);
$color-base-light: rgb(255, 100, 100);
$color-base: rgb(255, 30, 30);
$color-base-dark: rgb(180, 208, 0);

$color-secondary: rgb(57, 79, 240);

// dimension
$height-header: 7rem;
$height-header-phone: 8rem;
$height-footer: 5rem;

$width-main: 120rem;
$width-sidebar: 28rem;

// breaks
$break-phone-tiny: 310px;
$break-phone: 600px;
$break-tablet: 1000px;

//others
$border-radius-small: 5px;
$border-radius: 10px;
$grid-gap-small: 1rem;
$grid-gap: 1.5rem;
