@import "../../styles/variables";
@import "../../styles/animations";

.wrapper {
  height: 100%;
  width: 100%;

  @media (max-width: $break-phone) {
    min-height: calc(100vh - $height-footer - $height-header);
  }

  .hiding {
    animation: hide 1s;
  }
}

.main {
  padding: $grid-gap $grid-gap $grid-gap 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  @media (max-width: $break-phone) {
    padding: $grid-gap;
    overflow: visible;
  }
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: $grid-gap-small;
}

.grid {
  grid-template-columns: 1fr 1fr 1fr;
  gap: $grid-gap;

  @media (max-width: $break-phone) {
    grid-template-columns: 1fr 1fr;
  }
}

.pagination-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 1rem;
}
