@import "../../styles/variables";

.ant-pagination {
  &-options {
    display: inline-block !important;
  }

  &-item-active {
    border-color: $color-base !important;

    & a {
      color: $color-base !important;
    }
  }
}
