@import "../../styles/variables";

.wrapper {
  grid-column: 1/-1;
  height: $height-header;
  background-color: $color-white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px $color-shadow;
  width: 100%;
  position: relative;
  z-index: 1;

  @media (max-width: $break-phone) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }
}

.header {
  max-width: $width-main;
  width: 100%;
  padding: 0 3rem;
  font-size: $font-large;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;

  @media (max-width: $break-phone) {
    padding: 0 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  gap: 5rem;

  @media (max-width: $break-tablet) {
    gap: 2rem;
  }

  & svg {
    height: 3rem;
  }
}

.lang-switch {
  @media (max-width: $break-phone) {
    display: none;
  }
}

.menu-icon {
  @media (min-width: $break-phone) {
    display: none;
  }
}
