@import "../../styles/variables";

@import "../../styles/variables";

.wrapper {
  height: 1.8rem;
  width: 3.6rem;
}

.switch {
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  box-shadow: inset -4px 4px 4px $color-shadow;
  background-image: url("../../assets/img/pl.svg");
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
}

.active {
  background-image: url("../../assets/img/gb.svg");
}

.slider {
  transition: all 0.3s;
  position: absolute;
  top: 0;
  height: 100%;
  aspect-ratio: 1;
  background-color: $color-white;
  border: 1px solid $color-grey-light;
  border-radius: 10rem;
}

.left {
  transform: translateX(0);
}

.right {
  transform: translateX(1.8rem);
}
