@import "../../styles/variables";

.switch {
  &--wrapper {
    display: flex;
    gap: 2rem;
  }

  &--btn {
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
    color: $color-grey-light;

    & span {
      font-size: $font-medium;

      @media (max-width: $break-phone) {
        // display: none;
      }
    }

    // & svg {
    //   @media (max-width: $break-phone) {
    //     height: 3rem;
    //     width: 3rem;
    //   }
    // }
  }
}

.active {
  color: $color-grey-dark;
}
