@import "../../styles/variables";

.wrapper {
  padding: 0.1rem;
  display: flex;
  transform-origin: left;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.05);
    font-weight: 600;
  }
}

.country {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: $font-medium;
  width: auto;
}

.flag {
  font-size: $font-large;
}
