@import "../../styles/variables";

.wrapper {
  height: 100%;
  display: flex;
  padding: $grid-gap;
  overflow: auto;
}

.sidebar {
  width: 100%;
  padding: 2rem;
  border-right: 1px solid $color-grey;
  border-left: 1px solid $color-grey;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & h2 {
    font-size: $font-large;
  }
}

.input {
  margin: 1rem 0 2rem 0;
}

.list {
  width: 100%;
  height: 100%;
  overflow: auto;
}
