@import "../../styles/variables";

.wrapper {
  height: 100%;
  display: flex;
  padding: $grid-gap;

  @media (max-width: $break-phone) {
    position: fixed;
    top: 0;

    z-index: 4;
    background-color: $color-white;
    height: 80vh;
    width: 70vw;
    max-width: 80vw;
    border-radius: 0 0 $border-radius 0;
    padding: $grid-gap-small;
    transition: all 0.5s;
  }

  &.hidden {
    @media (max-width: $break-phone) {
      transform: translateX(-100%);
    }
  }
}

.sidebar {
  width: 100%;
  padding: 2rem;
  border-right: 1px solid $color-grey;
  border-left: 1px solid $color-grey;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & h2 {
    font-size: $font-large;
  }

  @media (max-width: $break-phone) {
    padding-top: 5rem;
    border: none;
  }
}

.input {
  margin: 1rem 0 2rem 0;
}

.list {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.lang-switch {
  position: absolute;
  right: 3rem;
  top: 6rem;

  @media (min-width: $break-phone) {
    display: none;
  }
}

.overlay {
  @media (min-width: $break-phone) {
    display: none;
  }
}
