@import "../../styles/variables";

.clock {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: $font-large;
  gap: 0.5rem;

  & svg {
    height: $font-large-very;
    color: $color-base;
    margin-right: 1rem;
    font-size: $font-large;
  }
}
