@import "../../styles/variables";

.results {
  width: 100%;
  font-size: $font-medium;
  display: flex;
  align-items: center;
  justify-content: center;

  & span {
    display: flex;
    align-items: center;
    padding: 0 1rem;

    & span {
      font-size: $font-medium;
      padding: 0 0.5rem;
      font-weight: 700;
    }
  }
}

.total {
  // color: $color-base;
  background-color: $color-base;
  min-width: 4rem;
  height: 4rem;
  border-radius: 10rem;
  color: $color-white;

  display: flex;
  justify-content: center;
  margin: 0 0.5rem;
}

.selector {
  width: 9rem;
}
