@import "../../styles/variables";
@import "../../styles/animations";

.wrapper {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  max-width: calc($width-main - 3rem);

  @media (max-width: $break-tablet) {
    width: 75%;
  }

  @media (max-width: $break-phone) {
    width: 85%;
  }
}

.modal {
  background-color: $color-white;
  overflow: hidden;
  border-radius: $border-radius;
  font-size: $font-medium;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & h1 {
    margin-bottom: 2rem;
    font-size: $font-large;
  }

  & h2 {
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-size: $font-medium;
  }

  & p {
    margin-bottom: 2rem;
  }

  & button {
    align-self: flex-end;
    margin: 2rem 3rem;
  }
}

.slide {
  &-enter {
    opacity: 0;

    &-active {
      animation: show 300ms;

      @media (max-width: $break-phone) {
        animation: none;
        opacity: 1;
        transition: all 0.3s;
      }
    }
  }

  &-exit {
    opacity: 1;

    &-active {
      animation: hide 300ms;

      @media (max-width: $break-phone) {
        animation: none;
        opacity: 0;
        transition: all 0.3s;
      }
    }
  }
}
