@import "../../styles/variables";
@import "../../styles/animations";

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $color-shadow;
  z-index: 3;
  backdrop-filter: blur(5px);
}

.showing {
  animation: show 0.4s;
}

.hiding {
  animation: hide 0.4s;
}
